html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
i{
    margin:30px;
    font-size:30px;
    
}
.index-btn{
    font-size:2rem;
}