@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
                url: '@Url.Action("StartApp")',
                type: 'POST',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    console.log("successNum");
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in OperationNum');
                }
            });
    });
</script>
<div class="text-center">
     <div class="flex-row">
        <a class="btn btn-sm btn-outline-secondary index-btn" asp-action="GetPendingFlightsByAsc" asp-route-isAsc="true">Pending Take-offs</a>
        <a class="btn btn-sm btn-outline-secondary index-btn" asp-action="GetPendingFlightsByAsc" asp-route-isAsc="false">Pending Descending-flights</a>
        <a class="btn btn-sm btn-outline-secondary index-btn" asp-action="GetAllStationsStatus">Stations status</a>
        <a class="btn btn-sm btn-outline-secondary index-btn" asp-action="SeeAllLiveUpdates">Live Updates</a>
    </div>

</div>
